<h2>お題投票一覧</h2>
<table class="table">
  <thead>
    <tr>
			<th>タイトル</th>
			<th>本文</th>
		</tr>
	</thead>
  <tbody>
    <% @votes.each do |vote| %>
      <% if vote.status == true %>
        <tr>
          <td><%= link_to vote.title, vote_path(vote) %></td>
          <td><%= vote.body %></td>
        </tr>
      <% elsif vote.status == false %>
      <% end %>
    <% end %>
  </tbody>
</table>
